$accent1: hsl( 0, 70%, 65% );
$accent2: hsl( 120, 55%, 55% );
$accent3: hsl( 200, 70%, 60% );
$accent1-light: lighten( $accent1, 30% );
$accent2-light: lighten( $accent2, 40% );
$accent3-light: lighten( $accent3, 35% );
$gray-dark: #333;
$gray-mid: rgba(0, 0, 0, 0.4);
$gray-light: #ddd;
$duration-off: 500ms;
$duration-on: 0ms;

/*===============================================================================
General
===============================================================================*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: $gray-dark;
	font: 100%/1.5 'Helvetica Neue', helvetica, arial, sans-serif;
	position: relative;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	max-width: 100em;
	padding: 5rem 6rem;
}

::selection {
	background: $gray-dark;
	color: #fff;
}

::-moz-selection {
	background: $gray-dark;
	color: #fff;
}

@media ( max-width: 60em ) {
	.container {
		padding: 3rem 2rem;
	}
}

/*===============================================================================
Header
===============================================================================*/

.header {
	margin-bottom: 3.5rem;
}

h1 {
	font-size: 3em;
	letter-spacing: -0.025em;
	line-height: 1;
	margin-bottom: 0.5rem;
}

h2 {
	color: $gray-mid;
	font-size: 1.8em;
	font-weight: normal;
	letter-spacing: -0.025em;
	line-height: 1.2;
	margin: 0;
}

@media ( max-width: 60em ) {
	.header {
		font-size: 11px;
	}
}

/*===============================================================================
Items
===============================================================================*/

.items-wrap {
	margin-bottom: 3.5rem;
	&:last-child {
		margin-bottom: 0;
	}
}

h3 {
	color: #fff;
	display: inline-block;
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: -0.025em;
	line-height: 1;
	margin: 0 0 1.5rem;
	padding: 0.8rem 1.6rem;
}

.items {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.item {
	display: flex;
	flex: 0 1 33.333%;
	padding-right: 1.5rem;
}

.item-link {
	border-left: 2px solid $gray-light;
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	padding: 1rem 1.5rem;
	transition-duration: $duration-off;
	transition-property:
		background-color,
		border-color,
		transform
	;
	&:hover {
		transition-duration: $duration-on;
	}
	&:active {
		transform: translateY( 3px );
		transition-duration: $duration-on;
	}
}

.item-title,
.item-description {
	display: block;
	transition-duration: $duration-off;
	transition-property: color;
	.item-link:hover & {
		color: #fff;
		transition-duration: $duration-on;
	}
}

.item-title {
	color: $gray-dark;
	font-size: 1.2em;
	font-weight: bold;
}

.item-description {
	color: $gray-mid;
	font-size: 1em;
}

.items-wrap:nth-child( 2 ) {
	h3 {
		background: $accent1;
	}
	.item-link {
		border-left-color: $accent1;
		&:hover {
			background: $accent1;
			border-color: $accent1;
			color: #fff;
		}
	}
}

.items-wrap:nth-child( 3 ) {
	h3 {
		background: $accent2;
	}
	.item-link {
		border-left-color: $accent2;
		&:hover {
			background: $accent2;
			border-color: $accent2;
			color: #fff;
		}
	}
}

.items-wrap:nth-child( 4 ) {
	h3 {
		background: $accent3;
	}
	.item-link {
		border-left-color: $accent3;
		&:hover {
			background: $accent3;
			border-color: $accent3;
			color: #fff;
		}
	}
}

@media ( max-width: 80em ) {
	.item {
		flex-basis: 50%;
	}
}

@media ( max-width: 40em ) {
	.items-wrap {
		font-size: 15px;
	}

	.item {
		flex-basis: 100%;
		padding-right: 0;
	}
}